# Ignore build directories
target/
build/

# Ignore compiled class files
*.class

# Ignore package files
*.jar
*.war
*.ear


# Ignore IDE settings (Eclipse, IntelliJ, etc.)
*.idea/
*.project
*.classpath
*.settings/
out/
